@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<link rel="stylesheet" href="~/css/site.css" />*@
      <link rel="stylesheet" href="~/css/site.scss" />
    </head>

<section class="hero-section py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
                <h1 class="site-headline font-weight-bold mb-3">Take on the market with our powerful platforms</h1>
                <div class="site-tagline mb-4">Get expert insights to help navigate the ups and downs of the market with confidence.Trade without trade-offs. Our desktop, web, and mobile platforms are designed for performance and built for all levels of investors <span id="typewriter" class="text-primary font-weight-bold"></span>.</div>
                <div class="cta-btns mb-lg-3">
                    <a class="btn btn-primary mr-2 mb-3" href="pricing.html">Get Started Free<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
                    <a class="btn mb-3 text-white" style="background-color: #5D6778"  href="docs.html">Trade Online<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
               <img class="hero-figure mx-auto img-fluid mt-5" src="~/Images/Trading-System-in-MetaTrader5-for-iOS.jpg" max-width: 100%; height: auto;  alt="trading devices">
            </div>
        </div><!--//row-->
    </div>
</section><!--//hero-section-->

<section class="benefits-section theme-bg-light py-5">

    <div class="container">
        <h3 class="mb-2 text-center font-weight-bold section-title">Why Choose Molten Trust?</h3>
        <div class="mb-5 text-center section-intro">Molten provides excellent trade executions for investors.</div>
        <div class="row" >
            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-online-support-100.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">24/7 SUPPORT</h5>
                    <div>Molten Trust Limited is available 24/7 to give you top-notch financial services.</div>
                    <div class="m-4"><a href="features.html">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-management-96.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">TRUSTED PEOPLE</h5>
                    <div>Our team is a crop of young, dynamic, well-trained and trusted individual</div>
                    <div class="m-4"><a href="features.html">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-hard-working-96.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">20+ YEARS EXPERIENCE</h5>
                    <div>We boasts of a 20 years deep understanding of the capital market.</div>
                    <div class="m-4"><a href="features.html">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-helping-hand-96.png"  alt="Alternate Text"width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">JOIN WITH US</h5>
                    <div>We provide superior services to the delight of our diverse stakeholders.</div>
                    <div class="m-4"><a href="docs.html">Get Started &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

        </div><!--//row-->
        <div class="pt-5 text-center">
            <a class="btn p-2 text-white" href="features.html">Open New Account<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
    </div>
    </section>

<section>
    <div class="container-fluid">
        <h1 class="text-center mb-3">Bootstrap Multi-Card Carousel</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
                <div class="carousel-item col-md-4 active">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 1</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 2</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 3</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 4</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 5</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 6</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card 7</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>